<footer id="footer">
    <i class="fab fa-twitter social"></i>
    <i class="fab fa-facebook-f social"></i
    ><i class="fab fa-instagram social"></i>
    <i class="fas fa-envelope social"></i>
    <p>© Copyright 2021 Sports Party</p>
    <p>Made By Team Shivam Pradhan</p>
  </footer>
</body>
</html>