<!--background video -->
<video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
    <source src="backgroundvideo.webm" type="video/mp4">
    </video>

<footer id="footer">
  <section id="topHeadlines">
    <form action = "/" method = "post">
      <div class="search">
        <input
          type="text"
          name="topic"
          id="search-box"
          placeholder="Search here"
        />
        <input type="submit" value="Search"></input>
      </div>

    </form>
  </section>
  <i class="fab fa-twitter social"></i>
  <i class="fab fa-facebook-f social"></i
  ><i class="fab fa-instagram social"></i>
  <i class="fas fa-envelope social"></i>
  <p>© Copyright 2021 News</p>
  <p>Made By Shivam Pradhan</p>
</footer>

  </body>
</html>
